.footer {
  background-color: #f8f9fa;
  color: rgb(0, 0, 0);
  padding: 40px 20px;
  margin: 20px;
  border-radius: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-column {
  width: 30%;
}

.logo-box {
  height: 50px;
  width: 50px;
  background: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.tagline {
  color: gray;
  font-size: 14px;
}

.footer-title {
  margin-top: 20px;
  font-size: 18px;
  color: #007bff;
}

.footer-text {
  margin: 5px 0;
  font-size: 14px;
}

.icon {
  margin-right: 10px;
  color: #007bff;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #007bff;
}

.subscribe-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.subscribe-box input {
  padding: 8px;
  flex: 1;
  /* border: none; */
  border-radius: 5px;
}

.subscribe-box button {
  background: #007bff;
  border: none;
  padding: 8px 15px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid gray;
  margin-top: 20px;
  padding-top: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  font-size: 20px;
  color: #007bff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}
